@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");

body {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Roboto Serif", serif;
}

img {
  max-width: 100% !important;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  input:focus ~ label,
  input:not(:placeholder-shown) ~ label {
    @apply -translate-y-2 text-xsmall-regular;
  }

  input:focus ~ label {
    @apply left-0;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid #212121;
    -webkit-text-fill-color: #212121;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}

@layer components {
  .content-container {
    @apply max-w-[1440px] w-full mx-auto px-6;
  }

  .contrast-btn {
    @apply px-4 py-2 border border-black rounded-full hover:bg-black hover:text-white transition-colors duration-200 ease-in;
  }

  .text-xsmall-regular {
    @apply text-[10px] leading-4 font-normal;
  }

  .text-small-regular {
    @apply text-xs leading-5 font-normal;
  }

  .text-small-semi {
    @apply text-xs leading-5 font-semibold;
  }

  .text-base-regular {
    @apply text-sm leading-6 font-normal;
  }

  .text-base-semi {
    @apply text-sm leading-6 font-semibold;
  }

  .text-large-regular {
    @apply text-base leading-6 font-normal;
  }

  .text-large-semi {
    @apply text-base leading-6 font-semibold;
  }

  .text-xl-regular {
    @apply text-2xl leading-[36px] font-normal;
  }

  .text-xl-semi {
    @apply text-2xl leading-[36px] font-semibold;
  }

  .text-2xl-regular {
    @apply text-[30px] leading-[48px] font-normal;
  }

  .text-2xl-semi {
    @apply text-[30px] leading-[48px] font-semibold;
  }

  .text-3xl-regular {
    @apply text-[32px] leading-[44px] font-normal;
  }

  .text-3xl-semi {
    @apply text-[32px] leading-[44px] font-semibold;
  }
}

@media (max-width: 1024px) {
  .footer {
    @apply grid grid-cols-3 p-6 pb-[4em];
  }

  .socials {
    @apply grid grid-cols-2;
  }

  .copyright {
    @apply absolute bottom-[1em] text-base;
  }

  .copyright span {
    @apply text-sm;
  }

  .column h3 {
    @apply text-base;
  }

  .column {
    @apply gap-0 ml-4;
  }

  .footer .number {
    display: none;
  }

  .footer .tel {
    display: block;
  }
}

/* ipad screen 768px */
@media (min-width: 640px) and (max-width: 1024px) {
  .cartItem {
    @apply w-[730px];
  }

  .cartItem button {
    @apply relative bottom-[-10em] right-[-2em];
  }

  .checkoutBox {
    @apply mx-[10%] w-[550px] mb-6;
  }

  .productImages {
    @apply grid grid-cols-2;
  }

  .productDescription button {
    @apply relative right-0 left-[-8em] top-[3em];
  }

  .relatedProducts {
    @apply grid grid-cols-2;
  }
}

/* ipad screen 820px */
@media (min-width: 780px) and (max-width: 850px) {
  .cartItem {
    @apply w-[770px];
  }

  .checkoutBox {
    @apply mx-[10%] w-[550px] mb-[16%] mt-[4em];
  }
}

/* ipad screen 912px */
@media (min-width: 850px) and (max-width: 950px) {
  .cartItem {
    @apply w-[860px];
  }

  .cartItem button {
    @apply relative bottom-[-9em] right-[-15%];
  }

  .checkoutBox {
    @apply mx-[17%] w-[550px] mb-[40%] mt-[4em];
  }
}

/* ipad screen 1024px */
@media (min-width: 950px) and (max-width: 1280px) {
  .cartItem {
    @apply w-[960px];
  }

  .cartItem button {
    @apply relative bottom-[-9em] right-[-15%];
  }

  .checkoutBox {
    @apply mx-[20%] w-[550px] mb-[30%] mt-[4em];
  }
}

/* xs */
@media (max-width: 475px) {
  body {
    width: 475px;
  }

  .header {
    @apply w-full;
  }

  .bannerSlider {
    @apply w-full mx-auto mt-6;
  }

  /* .sidebar {
    display: grid;
    width: 100%;
    @apply h-auto mx-auto;
  } */

  .categoryBox {
    @apply mt-3 mx-auto;
  }

  .categories {
    @apply grid grid-cols-2 gap-0 mx-[5%];
  }

  .categories img {
    width: 200px;
    height: 200px;
  }

  .mobile {
    @apply left-0 w-full;
  }
}

/* sm */
@media (max-width: 640px) {
  .header {
    @apply w-full;
  }

  .bannerSlider {
    @apply w-full mx-auto mt-6;
  }

  .customCard {
    @apply mt-4 mx-0 w-full flex gap-2 flex-col;
  }

  /* .sidebar {
    display: grid;
    width: 100%;
    @apply h-auto mx-auto;
  } */

  .categoryBox {
    @apply mt-3 mx-auto;
  }

  .categories {
    @apply grid grid-cols-2 gap-0 mx-[5%];
  }

  .categories img {
    width: 200px;
    height: 200px;
  }

  .mobile {
    @apply left-0 w-full;
  }

  .productDescription {
    @apply flex flex-col;
  }

  .productImages {
    @apply grid grid-cols-2;
  }

  .productDescription button {
    @apply relative right-0 left-[-7%] top-[2em];
  }

  .relatedProducts {
    @apply grid grid-cols-2;
  }

  .checkoutItems {
    /* @apply grid; */
  }

  .cartItem {
    @apply w-[450px];
  }

  .cartItem button {
    @apply relative bottom-[-10em];
  }

  .checkoutBox {
    @apply mx-[4%] w-[400px] mb-[15%];
  }
}

@media (min-width: 850px) and (max-width: 1280px) {
  .productDescription button {
    @apply relative right-0 left-0 top-[3em];
  }
}

/* lg */
@media (max-width: 1024px) {
  .hero {
    flex-direction: column;
  }

  /* .sidebar {
    display: grid;
    width: 100%;
    margin-left: -0.3em;
    @apply h-auto mx-auto;
  } */

  .mobile {
    @apply left-[-2.5em];
  }

  .bannerSlider {
    @apply w-full mx-auto mt-6;
  }

  .dropdownArrow {
    display: block;
  }

  .dropdown {
    display: grid;
    @apply ml-4;
  }

  .dropdown li {
    @apply m-2;
  }

  .categories {
    @apply grid grid-cols-4 gap-2 ml-0;
  }

  .categories img {
    width: 230px;
    height: 200px;
  }

  .categoryBox {
    @apply mt-3 mx-auto;
  }
}

@media (max-width: 820px) {
  .categories img {
    width: 190px;
    height: 190px;
  }
}

/* ipad screen 1024px */
@media (min-width: 1030px) {
  .customCard {
    @apply flex-col;
  }

  .sliderCont {
    width: 50vw !important;
  }

  .sidebar {
    display: block !important;
  }

  .sideMenu {
    display: none !important;
  }
}

/* ipad screen 1024px */
@media (min-width: 1280px) {
  .customCard {
    @apply flex-col;
  }

  .sliderCont {
    width: auto !important;
  }

  .sidebar {
    /* width: 310px; */
    display: block !important;
  }

  .sideMenu {
    display: none;
  }
}

.bonusCard {
  position: relative;
  height: 200px;
  background-color: #a7d3b5;
  border-radius: 1rem;
  z-index: 100001;
}

.bonusCard::before {
  content: "";
  position: absolute;
  background-color: #308b50;
  border-radius: 1rem;
  width: 100%; /* Extend the full width */
  height: 100%;
  clip-path: polygon(0 0, 70% 0, 48% 100%, 0% 100%);
  z-index: 1;
}

.slider1 {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #a7d3b5;
  z-index: 100001;
  font-family: "Roboto Serif", serif;
}

.slider1::before {
  content: "";
  position: absolute;
  background-color: #3beb72;
  width: 100%; /* Extend the full width */
  height: 100%;
  clip-path: polygon(0 0, 46% 0, 68% 100%, 0% 100%);
  z-index: 1;
}

.slider2 {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #a7d3b5;
  z-index: 100001;
  font-family: "Roboto Serif", serif;
}

.slider2::before {
  content: "";
  position: absolute;
  background-color: #ff4c25;
  width: 100%; /* Extend the full width */
  height: 100%;
  clip-path: polygon(0 0, 46% 0, 68% 100%, 0% 100%);
  z-index: 1;
}

.slider3 {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #a7d3b5;
  z-index: 100001;
  font-family: "Roboto Serif", serif;
}

.slider3::before {
  content: "";
  position: absolute;
  background-color: #f5f6f4;
  width: 100%; /* Extend the full width */
  height: 100%;
  clip-path: polygon(0 0, 46% 0, 68% 100%, 0% 100%);
  z-index: 1;
}

.slider4 {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #e3decb;
  z-index: 100001;
  font-family: "Roboto Serif", serif;
}

.slider4::before {
  content: "";
  position: absolute;
  background-color: #b58978;
  width: 100%; /* Extend the full width */
  height: 100%;
  clip-path: polygon(0 0, 46% 0, 68% 100%, 0% 100%);
  z-index: 1;
}

.slider5 {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #e3decb;
  z-index: 100001;
  font-family: "Roboto Serif", serif;
}

.slider5::before {
  content: "";
  position: absolute;
  background-color: white;
  width: 100%; /* Extend the full width */
  height: 100%;
  clip-path: polygon(0 0, 46% 0, 68% 100%, 0% 100%);
  z-index: 1;
}
.slider6 {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #a7d3b5;
  z-index: 100001;
  font-family: "Roboto Serif", serif;
}

.slider6::before {
  content: "";
  position: absolute;
  background-color: #4f4a49;
  width: 100%; /* Extend the full width */
  height: 100%;
  clip-path: polygon(0 0, 46% 0, 68% 100%, 0% 100%);
  z-index: 1;
}

.rotate {
  transform: rotate(180deg); /* Rotate the caret icon 180 degrees */
}

/* .image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  transition: transform 0.3s ease;
}

.image-container:hover img {
  transform: scale(1.2);
} */

.img-magnifier-container {
  position: relative;
}

.magnifier-img {
  width: auto;
  height: auto;
}

.magnifier-image {
  width: 100px;
  height: 100px;
  border: 2px solid #fff;
}

.magnifier-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
  @apply mx-auto;
}

.magnifier-image-container {
  overflow: hidden;
}

.magnifier-image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.magnifier {
  position: absolute;
  width: 200px; /* Adjust the size of the magnifier as needed */
  height: 200px; /* Adjust the size of the magnifier as needed */
  border: 1px solid #ccc;
  pointer-events: none; /* This will allow mouse events to pass through the magnifier */
  z-index: 100001;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  backdrop-filter: blur(5px); /* Apply blur effect */
  z-index: 999;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.popup-content {
  text-align: center;
}

.popup button {
  margin-top: 10px;
  padding: 8px 16px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.password-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.validationList {
  list-style: square;
}

.galleryImage {
  width: 400px !important;
}
